//sass variables for colors

$il-primary-color-blue: #5261AC;                //IL Cornflower Blue
$il-primary-color-teal: #50C9B5;                //IL Teal
$il-primary-color-white: #FFFFFF;               //IL White
$il-primary-color-charcoal: #333333;            //IL Charcoal

$il-secondary-color-blue: #475496;              //IL Dark Cornflower Blue
$il-secondary-color-dark-teal: #26847C;         //IL Dark Teal
$il-secondary-color-indigo: #002266;            //IL Indigo
$il-secondary-color-light-blue: #2196F3;        //IL Light Blue

$il-tertiary-color-deep-pink: #E21067;          //IL Deep Pink
$il-tertiary-color-orange: #FF712B;             //IL Orange
$il-tertiary-color-fuschia-blue: #9D47B8;       //IL Fuschia Blue
$il-tertiary-color-havelock-blue: #717FE2;      //IL Havelock Blue
$il-tertiary-color-pacific-blue: #039FBF;       //IL Pacific Blue
$il-tertiary-color-sky-blue: #5582AC;           //IL Sky Blue
$il-tertiary-color-lime: #BEE531;               //IL Lime

$il-utility-color-green: #229B58;               //IL Utitlity Green
$il-utility-color-ug-30: #C7E8D3;               //IL UG 30
$il-utility-color-ug-10: #EDF7F0;               //IL UG 10
$il-utility-color-red: #E00034;                 //IL Utility Red
$il-utility-color-ur-20: #FBD3D7;               //IL UR 20
$il-utility-color-ur-10: #FDE8EB;               //IL UR 10
$il-utility-color-amber: #FFBD00;               //IL Utility Amber
$il-utility-color-ug-40: #FFE48E;               //IL UG 40
$il-utility-color-ug-20: #FFF1C7;               //IL UG 20
$il-utility-color-blue: #147ACB;                //IL Utility Blue



.test-class {
    color: $il-primary-color-blue;
}








